body {
  background-color: #f0efeb;
}

main {
  color: black;
  font-family: "Noto Sans Mono", monospace;
  font-size: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
  overflow: hidden;
}
